---
interface Props {
  title: string;
  image: string;
  description: string;
  actions: { github?: string; demo?: string };
}
const { title, image, description, actions } = Astro.props;
---
<article class="project-card">
  <img src={image} alt={title} />
  <div class="content">
    <h3>{title}</h3>
    <p>{description}</p>
    <div class="button-container">
      {actions.demo && <a href={actions.demo} class="button" target="_blank">Voir le site</a>}
      {actions.github && <a href={actions.github} target="_blank"><img src="/assets/img/medias/github.png" alt="Lien GitHub"/></a>}
    </div>
  </div>
</article>